@{
    ViewBag.Title = "Home Page";
}
    <div style="justify-content:space-around; display:flex;">
        <div>
            <h3>Input data into databases</h3>
            <a class="btn btn-success" href="/Home/Input">HERE</a>
        </div>
        <div>
            <h3>Create query</h3>
            <a class="btn btn-success" href="/Home/Query">HERE</a>
        </div>
    </div>