@{
    ViewBag.Title = "Home Page";
}

<h1 style="padding-left: 440px;"> QUERY: </h1>

<form method="post" action="/Query/Result/Default" style="padding-left: 440px;">  @*!!!3-rd prop hardcoded!!!*@
    <textarea style="height:200px; width:300px;" id="text" name="sqlQuery"> </textarea>
    <br />
    <input class="btn btn-success" type="submit" value="Run" style="height: 40px; width: 60px; margin-left: 110px;" />
</form>