
@{
    ViewData["Title"] = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-left: 440px;">Input</h1>

<div style="justify-content:space-between; display:flex;">
    <div style="text-align:center;">
        <h2>Players</h2>
        <h3>Input</h3>
        <a class="btn btn-success" href="/Players/InputIntoTable">HERE</a>
        <br />
        <h3>Input Foreign Keys</h3>
        <a class="btn btn-success" href="/Players/InputForeignKeys">HERE</a>
    </div>
    <div style="text-align:center;">
        <h2>Coaches</h2>
        <h3>Input</h3>
        <a class="btn btn-success" href="/Coaches/InputIntoTable">HERE</a>
        <br />
        <h3>Input Foreign Keys</h3>
        <a class="btn btn-success" href="/Coaches/InputForeignKeys">HERE</a>
    </div>
    <div style="text-align:center;">
        <h2>Clubs</h2>
        <h3>Input</h3>
        <a class="btn btn-success" href="/Clubs/InputIntoTable">HERE</a>
        <br />
        <h3>Input Foreign Keys</h3>
        <a class="btn btn-success" href="/Clubs/InputForeignKeys">HERE</a>
    </div>
    <div style="text-align:center;">
        <h2>National teams</h2>
        <h3>Input</h3>
        <a class="btn btn-success" href="/NationalTeams/InputIntoTable">HERE</a>
        <br />
        <h3>Input Foreign Keys</h3>
        <a class="btn btn-success" href="/NationalTeams/InputForeignKeys">HERE</a>
    </div>
</div>